body > header {
  h1 {
    margin: 0;

    a {
      color: $title-color;

      &:hover {
        color: $link-color-hover;
      }
    }
  }

  h2 {
    @extend .sans;
    color: $subtitle-color;
    font-size: 1em;
    font-weight: normal;
    // Tiny additional left margin improves alignment.
    margin: .2em 0 0 1px;
  }
}
